@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    border: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(210, 210, 210);
    overflow-x: hidden;
}

/*NavBar CSS */
nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 118px;

}

#navBarLogo {
    width: 129px;
}

#navBarLinkWrapper > a {
    text-decoration: none;
    color: #1d1d1d;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 0 14px;
}

.navItem {
    display: inline-flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navItem > a {
    color: #1d1d1d;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0px 13.95px;
    padding: 9.27px 0px;
}

.navItem:hover .dropDownLinks{
    top: 100%;
    left: 0;
    opacity: 1;
}

.dropDownLinks {
    background-color: black;
    position: absolute;
    top: 30px;
    left: 2000px;
    padding: 10px;
    transition: top 0.6s, opacity 0.6s;
    opacity: 0;
    width: 200%;
    z-index: 100;
}

.dropDownLinks a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.382em;
    white-space: none;
    display: block;
}

.dropDownLinks a:hover {
    color: grey;
}

/* Parallax Section */
.big-image-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 160vh;
    justify-content: center;
    align-items: center;
    background-color: #000;
    z-index: -1000;
    overflow-x: hidden;
}

.image-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 15%;
    right: 0px;
    background-color: transparent;
    margin-top: -1000px;
    z-index: 100;
}

.background-img {
    width: 100vw;
    display: flex;
    align-self: flex-start;
    padding: 0;
    margin: 0;
    z-index: 0;
}

.foreground{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: relative;
}

.element-logo {
    width: 75%;
    padding-top: 130px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 150px 142px;
    background-color: white;
    max-width: 100%;
}

.three-images {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    padding: 0 17px 17px 17px;
}

.three-images .img {
    width: 390px;
    padding: 0 17px 17px 17px;
}

.single-image-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text {
    padding: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer {

    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}

.socials {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0;
}

.socials img {
    width: 23px;
    padding: 8px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 300px;
}

.links a {
    color: black;
    text-transform: uppercase;
    padding: 0 12px;
    letter-spacing: 2px;
    line-height: 27px;
}

.copyright {
    text-align: center;
    padding: 17px;
    text-transform: uppercase;
}

.hamburger {
    width: 27px;
    position: absolute;
    right: 8px;
    top: 8px;
    display: none;
}

@media (max-width: 1000px) {
    .hamburger {
        display: block;
    }
    .navItem {
        display: flex;
        flex-direction: column;
        right: -1000px;
    }
    .dropDownLinks {
        display: none;
    }

    .three-images {
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .three-images .img {
        width: 100%;
        padding: 17px 0;
    }
    .links {
        padding: 10px;
    }
    .big-image-section {
        height: 100vw;
    }

    .element-logo {
        margin-top: 125px;
    }
}
